.contact {
    text-align: center;
}

.contact_top {
    margin-bottom: 60px;
}

.contact_form_inputs {
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.contact_form_left {}

.contact_form_right {}

.contact_form_input {
    height: 50px;
    width: 500px;
    outline: none;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #bdbdbd;
    border: none;
    border-bottom: 1px solid #bdbdbd;
}

.contact_form_input:focus {
    border-bottom: 1px solid rgb(87, 87, 87);
}

.contact_form_input::placeholder {
    color: #bdbdbd;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    opacity: 1;
}

.contact_form_text {
    height: 142px;
    width: 500px;
    padding: 0;
    outline: none;
    border: none;
    resize: none;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.contact_form_text:focus {
    border-bottom: 1px solid rgb(87, 87, 87);
}

.contact_form_text::placeholder {
    color: #bdbdbd;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    opacity: 1;
    /* padding-top: 20px; */
}