.custom {
    padding: 60px 0;
    background-image: url(../img/background_image_2.png);
    display: flex;
    align-items: center;
    text-align: center;
}

.main_title_white {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
}

.main_title_white::after {
    content: "";
    border-top: 1px solid #fff;
    width: 65px;
    display: block;
    margin: 20px auto;
}