.footer {
    padding: 10px 0;
    background-color: #000;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.social_footer {
    margin-top: 20px;
}

.gray_icons_footer {
    font-size: 24px;
    color: #cccccc;
    margin-right: 30px;
}

.gray_icons_footer:last-child {
    margin-right: 0px;
}

.footer_text {
    font-size: 12px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    opacity: 0.5;
}

.footer_text p {
    margin-bottom: 0;
}