body {
    margin: 0 auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.navbar {
    background-color: #000;
    padding: 20px 0px;
    z-index: 1000;
    position: relative;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar_a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.navbar_a:hover {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.logo {
    width: 80px;
}

.menu {
    margin: 0;
}

.menu_item {
    display: inline-block;
    margin-right: 40px;
}

.menu_item:last-child {
    margin-right: 10px;
}

.header {
    background: rgba(0, 0, 0, .48) url("../img/background_image.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: 0% 40%;
    height: 640px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.description {
    width: 550px;
}

.description_logo {
    margin: 110px 0 0;
}

.description_title {
    color: #fff;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.description_title::after {
    border-top: 1px solid #fff;
    width: 65px;
    margin: 25px 0 35px;
}

.white_line_left {
    border-top: 1px solid #fff;
    width: 65px;
    margin: 25px 0 35px;
}

.description_text {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.6);
    line-height: 23px;
    margin-bottom: 30px;
}

.description_button {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 25px;
}

.description_button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.form {
    width: 360px;
    font-family: sans-serif;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
}

.top-form {
    border-radius: 3px;
}

.gray_background {
    background-color: #f5f5f5;
    padding: 15px 0;
    border-radius: 3px;
}

.top-form_title {
    font-size: 20px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.big_orange_text {
    color: #FF9947;
    text-transform: uppercase;
}

.top-form_input {
    width: 80%;
    height: 30px;
    outline: none;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #bdbdbd;
    border: none;
    border-bottom: 1px solid #bdbdbd;
}

.top-form_input {
    margin: 25px;
}

.top-form_input:focus {
    border-bottom: 1px solid rgb(87, 87, 87);
}

.top-form_input::placeholder {
    color: #bdbdbd;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    opacity: 1;
    padding-left: 10px;
}

.orange_button {
    width: 100%;
    height: 55px;
    background-color: #FF9947;
    border: 1px solid transparent;
    color: #fff;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    border-radius: 0 0 3px 3px;
}

.orange_button:hover {
    background-color: #FFCC7A;
    cursor: pointer;
}


/* -------burger------ */


/* @media only screen and (max-width: 767px) {

.burger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}

.burger.cross .burger_line {
    display: none;
}

.burger:before,
.burger:after {
    content: "";
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burger.cross:before {
    transform: rotateZ(45deg);
    top: 50%;
}

.burger.cross:after {
    transform: rotateZ(-45deg);
    top: 50%;
}

.burger_line,
.burger:before,
.burger:after {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: blue;
    transition: top 1s;
}

.burger_line {
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: black;
    padding: 75px 0 0 75px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: 1s;
}

.menu.visible {
    transform: translateX(0);
    transition: 1s;
}

.bg {
    background-color: black;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: .5;
    z-index: 998;
}

.bg.visible {
    display: block;
}


} */