.process {
    display: flex;
    align-items: center;
}

.centered_block {
    text-align: center;
    margin: 0 0 80px;
}

.main_title::after {
    content: "";
    border-top: 1px solid #FF9947;
    width: 65px;
    display: block;
    margin: 20px auto;
}

.column_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.small_block {
    text-align: center;
    width: 30%;
}

.grey_text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
}