.process {
    height: 595px;
    display: flex;
    align-items: center;
}

.column_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.small_block {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.centered_block {
    text-align: center;
    margin-bottom: 100px;
}

.main_header {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.orange_line_center {
    border-top: 1px solid #FF9947;
    width: 65px;
    margin: -10px auto 20px;
}

.grey_text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
}