.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.social_left {
    width: 380px;
    text-align: left;
}

.social_h3 {
    font-size: 20px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
    margin-bottom: -10px;
}

.social_text {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
}

.social_right {}

.gray_icons {
    font-size: 48px;
    color: #cccccc;
    margin-right: 55px;
}

.gray_icons:last-child {
    margin-right: 0;
}