.testimonials {
    /* display: flex;
    align-items: center; */
}

.testimonials_centered_block {
    text-align: center;
    margin-bottom: 50px;
}

.main_title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
}

.small_grey_text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
}

.testimonials_quotes {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.testimonials_quote {
    background-color: #f5f5f5;
    text-align: left;
    border-radius: 3px;
    padding: 25px 15px;
    margin-bottom: 20px;
}

.blockquote {
    font-size: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    margin: 0;
}

.avatar_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar_container_img {
    margin-right: 15px;
}

.testimonials_name {
    font-size: 20px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
    margin: 0 0 5px 0;
    text-align: left;
}

.testimonials_job {
    font-size: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 0;
    text-align: left;
}

.slide {
    outline: none;
    margin: 0 40px;
}

.slick-prev:before,
.slick-next:before {
    color: #86878b;
}