.testimonials {
    /* height: 595px; */
    padding: 135px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.testimonials_centered_block {
    text-align: center;
    margin-bottom: 50px;
}

.testimonials_quotes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials_column {
    width: 30%;
    display: inline-block;
}

.testimonials_quote {
    background-color: #f5f5f5;
    text-align: left;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}

.blockquote {
    font-size: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    margin: 0;
}

.triangle {
    border-color: transparent;
    border-top-width: 100px;
    border-top-color: #f5f5f5;
}

.testimonials_quote img {
    display: inline-block;
}

.name_container {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: -10px;
}

.testimonials_name {
    font-size: 20px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 0;
}

.testimonials_job {
    font-size: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
}

.slider {}

.slide {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    outline: none;
    margin: 0 20px;
}